body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/18449077.jpg);
    background-attachment: fixed;
}
a {
    color: white;
}
.kb {
    /* justify-content: flex-end; */
    width: 120px;
    margin-left: 0px;
    
    position: absolute;
}

#container {
    height: 500px;
    width: 550px;
    margin: 100px auto;
    background: white;
    box-shadow: 17px 0px 10px -11px rgba(0,0,0,0.75);
    border-radius: 20px;
    text-align: center;
}

#top {
    background-color: #ffd9f7;
    width: 100%;
    margin: auto;

}

h1 {
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    color: #815477;
    /* background-color:  */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: #3d2a39;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px;

}

#form {
    text-align: left;
    /* margin-left: 600px; */
    margin: auto;
    width: 200px;
}

#button {
    font-style: none;
    color: black;
    width: 178px;
}

.penjelasan {
    text-align: left;
    font-weight: 30px;
}
li {
    height: 20px;
    list-style: none;
}
#button {
    background-color: #ffd9f7;
    border-color: white;
    border-radius: 9px;
    height: 30px;
    color: #503a4b;
}